.event-list {
    display: flex;
    text-align: center;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
    
  }
  
  .each-event {
    flex-grow: 1;
    height: 100px;
    max-width: 33%;
    position: relative;
  }
  
  .event-list img {
    position: relative;
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
    border-radius: 50%;
  }
  